{% import '_macros/global' as render %}

{# Feature #}

<div class="feature__group   w-full block text-center max-w-xs ml-auto mr-auto mb-14 md:w-1/3 md:w-1/3 md:mb-0 sm:px-2">

	{% if block.image.count()%}
		{# Image #}
		<div class="m-auto mb-6 w-3/5">
			<div class="img is1x1 relative">
				{{render.single_image(block.image.one(), block.borderRadius~' absolute pin-t pin-l w-full h-full')}}	
			</div>
		</div>	
	
	{% else %}

		{# Spot Icon #}
		{% if block.spotIcon != 'no-icon' %}
			<div class="m-auto mb-6 w-32">
				<div class="img is1x1 relative">
							<img src="/assets/svg/icon--{{block.spotIcon}}.svg" class="absolute pin-t pin-l w-full h-full">

				</div>
			</div>	
		{% endif %}
			
	{% endif %}
	
	
	{# Content #}
	{% if block.header %}
		<h4 class="text-blue text-2md mb-6 sm:mb-3">{{block.header}}</h4>
	{% endif %}
	
	
	{% if block.description %}
		<div class="text-xs text-grey-dark m-auto w-full leading-normal">
			{{block.description}}
		</div>
	{% endif %}


	{# Action #}
	{% if block.button.count() %}
		<div class="pt-6">
			{{render.button(block.button.one().target, block.button.one().style, block.button.one().icon)}}
		</div>
	{% endif %}
	
	

	
</div>