{# Section Header #}
{% import '_macros/global' as render %}

<header class="text-center {{render.transitions(content)}} {{render.spacing(content)}}">
	<h2 class="text-blue text-lg sm:text-xl mb-2">{{content.header}}</h2>
	<h4 class="text-blue-light text-1md mb-8">{{content.subheader}}</h4>
	<div class="text-grey-dark text-md  max-w-sm mx-auto">{{content.description}}</div>
	{% if content.buttons.count() %}
		<div class="text-center py-8">
			{% for button in content.buttons %}
				{{render.button(button.target, button.style, button.icon)}}
			{% endfor %}
		</div>
	{% endif %}
</header>